/**GRID LAYOUT**/
.item1{
    grid-area: header;
}
.item2{
    grid-area: table;
}
.item3{
    grid-area: sub;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header '
    'table '
    'sub';
    gap: 5px;
    padding: 10px;
}

/** HEADER DESIGN**/
h2{
    text-align: left;
    font-size: 26px;
    color: #FFFFFF;   
}

h3 {
    text-align: center;
    font-size: 24px;
    color: #04AA6D;
}

/** TABLE CLASS = GUIDELINE**/
#guideline {
    font-family:  sans-serif;
    border:2px solid #FFFFFF;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#guideline td {
    text-align: center;
    padding: 8px;
  }
  
  
#guideline tr:hover {background-color: #181818;}
  
#guideline th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #04AA6D;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
  }

/** TABLE CLASS = LEGENDFORMAT**/
#legendformat {
    font-family:  sans-serif;
    border:2px solid #FFFFFF;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#legendformat td {
    text-align: center;
    padding: 8px;
  }
  
  
#legendformat tr:hover {background-color: #FFCC00;
color:#181818;}


/** PARAGRAPH FORMAT **/ 
p {
    font-size: 20px;
    color: #DCDCDC;
    text-align: justify;
}
td span{
    color:lightgreen;
    font-weight: bold;
}